<div class="comment politburo_comment">
  <div class="user">
    <%= image_tag comment.user.avatar %>
    <h5 class="name"><%= comment.user.name %></h5>
  </div>
  <% if @pinnable and current_user.politburo %>
    <h5 class="pin">
      Use in report: <a href="#" class="toggle" data-url="/comments/pin/<%= comment.id %>" data-key="pinned" data-val="<%= comment.pinned %>">
        <%= comment.pinned? ? "Yes" : "No" %>
      </a>
    </h5>
  <% end %>
  <div class="text">
    <%= raw simple_format comment.text %>
  </div>
</div>
