<% if post.owner_comment %>
  <div class="top_comment">
    <div class="user editor"><%= post.owner_comment.user.name %></div>
    <% if current_user.owns_this_site(post.domain) %>
      <textarea spellcheck="false" placeholder="Share your thoughts on this post..." class="editor_comment"><%= post.owner_comment.text %></textarea>
      <button class="save" data-post-id="<%= post.id %>">Save</button>
      <h5 class="message"></h5>
      <div style="clear:both;"></div>
    <% else %>
      <blockquote class="editor_comment"> <%= post.owner_comment.text %></blockquote>
    <% end %>
  </div>
<% end %>
<h2 class="headline full"><%= raw post.headline %></h2>
<%= timestamp(post.publish_time) %>
<div class="post_body">
  <%= raw post.text %>
</div>
<h5 class="byline">Written by <%= post.author_name %></h5>
<h5 class="original"><%= link_to raw("<i class=\"fa fa-external-link\"></i> Original post "), post.url, target: "_blank" %></h5>
<%= render partial: 'comments/floating_comment' if current_user.politburo? %>
