<nav>
  <i class="fa fa-bars fa-lg menu"></i>
  <ul class="dropdown">
    <% if user_signed_in? %>
      <%= link_to raw("<li>Dashboard</li>"), dashboard_path %>
      <% if current_user.politburo? %>
        <%= render_sites %>
      <% end %>
      <%= link_to(raw("<li>Admin</li>"), "/admin") if current_user.admin? %>
      <%= link_to raw("<li>Logout</li>"), "/logout" %>
    <% end %>
  </ul>
  <%= site_header(@site) %>
</nav>
