<div class="preview">
  <% if @owns %>
    <a href="#" alt="remove" class="remove_post" data-post-id="<%= post.id %>">X</a>
  <% end %>
  <%= link_to image_tag(post.preview_image), post_path(post) %>
  <h2><%= link_to raw(@decoder.decode post.headline), post_path(post) %></h2>
  <% if post.owner_comment %>
    <p><%= post.owner_comment.user.first_name %>: <%= post.owner_comment.text %></p>
  <% else %>
    <%= raw post.excerpt unless defined? text_preview %>
  <% end %>
</div>
