<div class="preview" id="<%= post.id %>">
  <% if @owns %>
    <a href="#" alt="remove" class="remove_post" data-post-id="<%= post.id %>"><i class="fa fa-times"></i></a>
  <% end %>
  <% unless post.preview_image.empty? %>
    <div class="image_container">
      <%= link_to image_tag(post.preview_image, class: :small_image ), post_path(post)%>
      <%= link_to image_tag(post.big_image_url, class: :full_image ), post_path(post) %>
    </div>
  <% end %>
  <div class="text">
    <h2 class="headline"><%= link_to raw(post.headline), post_path(post) %></h2>
    <%= timestamp(post.publish_time, short: true) %>
    <span class="timestamp">| <%= post.author %> | </span>
    <span class="timestamp post_views" data-id="<%= post.kinja_id %>">Views:<span class="view_count"></span></span>
    <% if current_user.owns_this_site(post.domain) and post.owner_comment and !defined? not_editable %>
      <div class="user editor">
        <div class="name"><%= post.owner_comment.user.name %></div>
      </div>
      <textarea placeholder="Share your thoughts on this post..." class="editor_comment"><%= post.owner_comment.text %></textarea>
      <button class="save" data-post-id="<%= post.id %>">Save</button>
      <h5 class="message"></h5>
    <% elsif post.owner_comment %>
      <div class="user editor"><%= post.owner_comment.user.name %></div>
      <blockquote class="editor_comment"> <%= post.owner_comment.text %></blockquote>
    <% end %>
  </div>
  <div style="clear: both;"></div>
</div>
