<div class="report">
  <div class="reports_list">
    <% if current_user.politburo? %>
      <h5 class="top">Hey Politburo member!<h5>
        <h4 class="filed">Unpublished reports</h4>
        <% if @grouped_posts.length > 0 %>
          <% @grouped_posts.each do |group| %>
            <h4 class="month"><%= link_to group[0], build_new_report_path(@site, group[0]) %></h4>
          <% end %>
        <% else %>
          <h4>None</h4>
        <% end %>
        <%# <%= link_to "Click here to edit and publish reports for #{cap_site @site}.", build_report_path(@site) %>
    <% end %>

    <div class="status">
      <h4 class="filed">Reports filed for</h4>
      <h4><%= cap_site(@site) %></h4>
      <% if @reports.empty? %>
        <h4 class="year">No reports filed for <%= cap_site @site %> yet.</h4>
      <% else %>
      </div>
      <% @grouped_reports.each do |group| %>
        <h4 class="year"><%= group[0].to_s %></h4>
        <% reports = group[1..-1].flatten %>
        <% reports.each do |report| %>
          <h4>
            <%= link_to report.name.split(" ")[0],
              show_report_path(report.domain.split('.')[0], report.name),
              class: "report_link"
            %>
          </h4>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
